/* Whole document: */
.main-container {
  max-width: 850px;
  margin-left: auto;
  margin-right: auto;
}

body{
  font-family: Palatino;
  font-size: 12.5pt;
  color: black;;
  word-spacing: 0.04em;
  line-height: 1.75
}

/* Headers */
h1,h2,h3,h4,h5,h6{
  font-size: 17pt;
}

iframe {
    margin: 0;
    padding: 0;
    opacity: 0.9;
    display:block;
}

figcaption {
  color: black;
  font-style: italic;
  padding: 0px;
  text-align: left;
}

/* Links */
a:link {
  color: navy;
}

a:visited {
  color: navy;
}

a:hover {
  color: blue;
}

a:active {
  color: blue;
}

/* Buttons */
.button-13 {
  background-color: #fff;
  border: 1px solid navy;
  border-radius: 3px;
  box-shadow: rgba(113, 113, 113, .5) 0 0 0 0;
  box-sizing: border-box;
  color: navy;
  cursor: pointer;
  display: inline-block;
  font-family: "Amazon Ember",sans-serif;
  font-size: 13px;
  line-height: 13px;
  padding: 0 0 0 0;
  position: relative;
  text-align: center;
  text-decoration: none;
  user-select: none;
  -webkit-user-select: none;
  touch-action: manipulation;
  vertical-align: middle;
  width: 113px;
  height: 23px;
  /* margin: -1px 0 0 0; */
}

.button-13:hover {
  background-color: rgba(227, 227, 247, 0.8);
  font-size: 13px;
  font-weight: bold;
}

.button-13:focus {
  border-color: #008296;
  box-shadow: rgba(113, 113, 113, .5) 5px 5px 5px 5px;
  outline: 0;
}
